# Ignore node_modules directory
node_modules/
app/
data/
ragEnv/

UploadForm.js
test.py

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variables file
.env

# Ignore build output
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log
